{% extends "crime/index.html" %}

{% block page_title %}
    {{ incident.headline }}
{% endblock page_title %}

{% block since_header %}
{% endblock since_header %}

{% block main_bar %}

    <div class="article">
        <div class ></div>
        <div class="manilla">
            <div class="paper crime_font">
                <h1>{{ incident.headline }}</h1>
                <div class="float_left">
                    <strong>Location:</strong><br />{% if incident.is_approximate_address %}In the area of {% endif %}{{ incident.formatted_address }}
                </div>
                <br />
                <div class="float_left">
                    <strong>Date:</strong><br />{{ incident.inc_date }}
                </div>
                <br class="clear" />
                <p>{{ incident.summary }}</p>
                <div class="victims float_left">
                    <h2 align="center">Victims</h2>
                    {% for victim in victims %}
                        {{ victim.get_full_name }}, {{ victim.age }}
                        {{ victim.victim_photo }}
                    {% endfor %}
                </div>
                <div class="suspects float_left">
                    <h2 align="center">Suspects</h2>
                    {% for suspect in suspects %}
                        {{ suspect.get_full_name }}, {{ suspect.age }}
                        {% if suspect.arrest_date %}
                            Arrested on {{ suspect.arrest_date }}.
                        {% endif %}
                        {% if suspect.suspect_photo %}
                            {{ suspect.suspect_photo }}
                        {% endif %}

                    {% endfor %}
                </div>  
            </div>
        </div>
    </div>

{% endblock main_bar %}
