{% extends "base.html" %}
{% load static %}

{# Extended from base.html #}
{% block main_title %}
    {% block page_title %}    
        CRIME APP    
    {% endblock page_title %}
{% endblock main_title %}


{# Extended from base.html #}
{% block main_styles %}
    <style type="text/css">
        @font-face {
             font-family: CrimeFont;
             src: url("{% get_static_prefix %}fonts/crime_font.eot")
        }
        @font-face {
            font-family: CrimeFont;
            src: url("{% get_static_prefix %}fonts/crime_font.ttf")
        }
    </style>
    <link rel="stylesheet" href="{% get_static_prefix %}crime.css">
{% endblock main_styles %}


{# Extended from base.html #}
{% block main_content %}


    {% block extra_styles %}
        <script type="text/javascript" src="{% get_static_prefix %}js/curvycorners.js"></script>
    {% endblock extra_styles %}


    {% block header %}
        <h1 class="main_header">WILMINGTON SHOOTINGS</h1>
        <ul class="header_links float_left">
            <li class="float_left">
                <a href="/crime/">INCIDENTS</a>
                <ul class="subnav">
                    <li><a href="/crime/?time_frame=week">LAST SEVEN DAYS</a></li>
                    <li><a href="/crime/?time_frame=one_month">LAST MONTH</a></li>
                    <li><a href="/crime/?time_frame=six_months">LAST SIX MONTHS</a></li>
                    <li><a href="/crime/?time_frame=year">LAST YEAR</a></li>
                </ul>
            </li>
            <li class="float_left">
                <a href="/crime/victims/">VICTIMS</a>
                <ul class="subnav">
                    <li><a href="/crime/victims/?time_frame=week">LAST SEVEN DAYS</a></li>
                    <li><a href="/crime/victims/?time_frame=one_month">LAST MONTH</a></li>
                    <li><a href="/crime/victims/?time_frame=six_months">LAST SIX MONTHS</a></li>
                    <li><a href="/crime/victims/?time_frame=year">LAST YEAR</a></li>
                </ul>
            </li>
           <li class="float_left">
                <a href="/crime/suspects/">SUSPECTS</a>
                <ul class="subnav">
                    <li><a href="/crime/suspects/?time_frame=week">LAST SEVEN DAYS</a></li>
                    <li><a href="/crime/suspects/?time_frame=one_month">LAST MONTH</a></li>
                    <li><a href="/crime/suspects/?time_frame=six_months">LAST SIX MONTHS</a></li>
                    <li><a href="/crime/suspects/?time_frame=year">LAST YEAR</a></li>
                </ul>
            </li>
            <li class="float_left">
                <a href="/crime/map/">MAP</a>
                <ul class="subnav">
                    <li><a href="/crime/map/?time_frame=week">LAST SEVEN DAYS</a></li>
                    <li><a href="/crime/map/?time_frame=one_month">LAST MONTH</a></li>
                    <li><a href="/crime/map/?time_frame=six_months">LAST SIX MONTHS</a></li>
                    <li><a href="/crime/map/?time_frame=year">LAST YEAR</a></li>
                </ul>
            </li>
            <li class="float_left">
                <a href="http://www.delawareonline.com/crimeandcourts">CRIME ARTICLES</a>
            </li>
            <li class="float_left">
                <a href="/crime/search/">SEARCH</a>
            </li>
            {% block since_header %}
                <li class="float_right">
                    <span>{% if since_date %}Showing incidents since {{ since_date }}{% else %}Showing all incidents{% endif %}</span>
                </li>
            {% endblock since_header %}
        </ul>
        {# THIS MAKES ^^^ PRETTY. #}
        <script type="text/javascript">
            $(document).ready(function(){
                
                $(".header_links li").hover(function() { // MOUSEOVER

                    $(this).addClass("subhover");
                    
                    $(this).find("ul.subnav").slideDown('fast').show(); //Drop down the subnav on click

                    }, function() { // MOUSEOUT
                        $(this).removeClass("subhover");
                        $(this).find("ul.subnav").slideUp('slow');
                    }
                );
            });
        </script>
    {% endblock header %}

        {% block main_bar %}    
        <div class="article">
            {% include "crime/incident_list.html" %}
        </div>
        {% endblock main_bar %}

    {% block aside %}

        <div class="aside">
            <span class="shdtop"></span>
            <div class="photoGalleries box">
                <div class="box-head clearfix">
                    <h2 align="center">About</h2>
                    <div>
                        Wilmington has consistently ranked high for violent crime for a city of it's size. On average, 100 people are shot and the number of homicides have reached up to more than two dozen some years. 
                        <br />
                    </div>
                </div>
                
            </div> <!-- END photoGalleries box -->
            <span class="shdbot"></span>
            <br />
            {% include "ads_and_snippets/box_ad.html" %}
            <br />
        </div>

    {% endblock aside %}

    <hr class="clear" />

    {% block footer %}
    <div class="clear">
        <p class="float_left">Built by <a href="mailto:psweet@delawareonline.com?subject=Wilmington Shootings App">Patrick Sweet</a>.</p>
        <p class="float_right">SOURCE: <em>Wilmington Police Department, The News Journal news reports.</em></p>
    </div>
    {% endblock footer %}
    

{% endblock main_content %}
