{% extends "crime/index.html" %}

{% block page_title %}
    THE MAP
{% endblock page_title %}


{% block main_bar %}
<div class="article">
    {% load static %}
    <link rel="stylesheet" href="{% get_static_prefix %}js/leaflet/leaflet.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="{% get_static_prefix %}js/leaflet/leaflet.ie.css"  /><![endif]-->
    <script src="{% get_static_prefix %}js/leaflet/leaflet.js"></script>
    <script type="text/javascript" src="{% get_static_prefix %}js/leaflet/leafclusterer.js"></script>
    <script type="text/javascript">
        var map;
        var wilmington = new L.LatLng(39.745592, -75.547027);
        function initmap() {
            map = new L.Map('map');
            var osmUrl='http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
            var osmAttrib='Map data © openstreetmap contributors';
            var osm = new L.TileLayer(osmUrl,{minZoom:4,maxZoom:16,attribution:osmAttrib});

            map.setView(wilmington,14);
            map.addLayer(osm);
            
            // geoJson object that contains all of the incidents.
            var shootings = {
                "type": "FeatureCollection",
                "features": [
                {% for incident, victims, suspects in details %}
                    {
                        "type": "Feature",
                        "properties": {
                            "headline": "{{ incident.headline }}",
                            "is_homicide": "{{ incident.is_homicide }}",
                            "popupContent": "<div id='popupContent'><h3>{{ incident.headline }}</h3><p>{{ incident.inc_summary }}</p><p align='right'><a href='/crime/{{ incident.id }}/{{ incident.inc_slug }}'>Click here</a> to see more details.</div>"
                        },
                        "geometry": {
                            "type": "Point",
                            "coordinates": [{{ incident.longitude }}, {{ incident.latitude }}]
                        }
                    }{% if forloop.last %} {% else %},{% endif %}
                {% endfor %}
                ]
            };
            


            var geojsonLayer = new L.GeoJSON();

            var clusterer = new LeafClusterer(map);
            
            
            var HomicideIcon = L.Icon.extend({
                iconUrl: '{% get_static_prefix %}images/murder-icon.png',
                shadowUrl: '',
                iconSize: new L.Point(16, 16),
                shadowSize: new L.Point(16, 16),
                iconAnchor: new L.Point(8, 8),
                popupAnchor: new L.Point(0, 0)
            });

            var RegIcon = L.Icon.extend({
                iconUrl: '{% get_static_prefix %}images/reg-icon.png',
                shadowUrl: '',
                iconSize: new L.Point(16, 16),
                shadowSize: new L.Point(16, 16),
                iconAnchor: new L.Point(8, 8),
                popupAnchor: new L.Point(0, 0)
            });

            var homicideIcon = new HomicideIcon();
            var regIcon = new RegIcon();

            geojsonLayer.on('featureparse', function(e) {
                // Uncomment the following to enable clustering:
                // clusterer.addMarker(e.layer);

                // SET the icon based on homicide or not.
                if (e.layer.setIcon && e.properties.is_homicide === "True"){
                    e.layer.setIcon(homicideIcon);
                }
                if (e.layer.setIcon && e.properties.is_homicide === "False"){
                    e.layer.setIcon(regIcon);
                }

                if (e.properties && e.properties.popupContent){
                   e.layer.bindPopup(e.properties.popupContent);
                }


            /*    (function(layer, properties) {
                    // Create a click event
                    layer.on("click", function (e) {
                        // if a marker is clicked, display the details from it
                        var headline = document.getElementById('headline');
                        var summary = document.getElementById('summary');
                        var victims = document.getElementById('victims');
                        var suspects = document.getElementById('suspects');
                        headline.innerHTML = properties.headline;
                        summary.innerHTML = properties.incident_summary;
                        victims.innerHTML = properties.victims.names;
                        suspects.innerHTML = properties.suspects.names;
                    });

                })(e.layer, e.properties); */

            });
            
            geojsonLayer.addGeoJSON(shootings);
            map.addLayer(geojsonLayer);
        }

        $("document").ready(function() {
            initmap();
        });
    </script>

    <div id="map" class="map"></div>
</div>
{% endblock main_bar %}


{% block aside %}

{% endblock aside %}