{% extends "crime/index.html" %}

{% block page_title %}
    Seach Incidents
{% endblock page_title %}

{% block main_bar %}
<script type="text/javascript">
    function search_submit() {
        var query = $("#id_query").val();
        $("#search-results").load(
            "/crime/search/?ajax&query=" + encodeURIComponent(query)
        );
        return false;
    }

    $(document).ready(function () {
        $("#id_query").keyup(search_submit);
    });
</script>
<div class="article">
    <center>
    <h1>Search Incidents</h1>
    <form id="search-form" method="get" action=".">
        {{ form.as_p }}
    </form>
    </center>
    <div id="search-results">
        {% if show_results %}
            {% include "crime/incident_list.html" %}
        {% else %}
            Enter a name or search term.
        {% endif %}
    </div>
</div>
{% endblock main_bar %}
