{% extends "crime/index.html" %}

{% block page_title %}
	SUSPECTS
{% endblock page_title %}

{% block main_bar %}
	{% load static %}
	<script type="text/javascript" src="http://php.delawareonline.com/SchoolProfiles2012/js/jquery-ui-1.8.18.custom.min.js"></script>
	<script type="text/javascript" src="{% get_static_prefix %}js/jquery.flip.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$('.personFlip').bind("click", function(){
				var elem = $(this);
				if(elem.data('flipped')) {
					elem.revertFlip();
					elem.data('flipped', false);
				} else {
					elem.flip({
						direction:'rl',
						speed: 350,
						bgColor:'#000',
						onBefore: function() {
							elem.html(elem.siblings('.personData').html());
						}
					});
					elem.data('flipped',true);
				}
			});
		});
	</script>
	<div class="article">
		<h1 align="center">SUSPECTS</h1>
		{% for incident, suspects in details %}
			{% for suspect in suspects %}
				<div class="person">
					<div class="personFlip">
						{% if suspect.suspect_photo %}
							{% load thumbnail %}
							<img class="personPhoto" alt="{{ suspect.get_full_name }}" src="{% thumbnail suspect.suspect_photo 300x400 box=suspect.cropping crop detail %}">
						{% else %}
							<div class="name">
								{{ suspect.first_name }}<br />{{ victim.last_name }}
							</div>
						{% endif %}
					</div> <!-- personFlip -->
					<div class="personData">
						<div class="personDescription">
							{{	suspect.get_full_name }}{% if suspect.age %}, {{ suspect.age }},{% endif %}{% if suspect.arrest_date %} was arrested on {{ suspect.arrest_date }} {% else %} is a suspect {% endif %} in connection with {% if incident.is_homicide %}a homicide {% else %}an incident {% endif %} on {{ incident.inc_date }}.{% if suspect.about %}
								<br /> {{ suspect.about }}
							{% endif %}
						</div>
						<div class="incidentURL">
							<a href="/crime/{{ incident.id }}/{{ incident.inc_slug }}/">Read more about the incident.</a>
						</div>
					</div>
				</div>
			{% endfor %}
		{% endfor %}
	</div>
{% endblock main_bar %}