{% extends "crime/index.html" %}

{% block page_title %}
	VICTIMS
{% endblock page_title %}

{% block main_bar %}
	{% load static %}
	<script type="text/javascript" src="http://php.delawareonline.com/SchoolProfiles2012/js/jquery-ui-1.8.18.custom.min.js"></script>
	<script type="text/javascript" src="{% get_static_prefix %}js/jquery.flip.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$('.personFlip').bind("click", function(){
				var elem = $(this);
				if(elem.data('flipped')) {
					elem.revertFlip();
					elem.data('flipped', false);
				} else {
					elem.flip({
						direction:'rl',
						speed: 350,
						bgColor:'#000',
						onBefore: function() {
							elem.html(elem.siblings('.personData').html());
						}
					});
					elem.data('flipped',true);
				}
			});
		});
	</script>
	<div class="article">
		<h1 align="center">VICTIMS</h1>
		{% for incident, victims in details %}
			{% for victim in victims %}
				<div class="person">
					<div class="personFlip">
						{% if victim.victim_photo %}
							{% load thumbnail %}
							<img class="personPhoto" alt="{{ victim.get_full_name }}" src="{% thumbnail victim.victim_photo 300x400 box=victim.cropping crop detail %}">
						{% else %}
							<div class="name">
								{{ victim.first_name }}<br />{{ victim.last_name }}
							</div>
						{% endif %}
					</div> <!-- personFlip -->
					<div class="personData">
						<div class="personDescription">
							{{	victim.get_full_name }}{% if victim.age %}, {{ victim.age }},{% endif %} was {% if victim.is_killed %}killed{% else %}wounded{% endif %} on {{ incident.inc_date }}.
						</div>
						<div class="incidentURL">
							<a href="/crime/{{ incident.id }}/{{ incident.inc_slug }}/">Read more about the incident.</a>
						</div>
					</div>
				</div>
			{% endfor %}
		{% endfor %}
	</div>
{% endblock main_bar %}